title: Bach-Thuan Bui
position: Ph.D. Candidate
affiliation: Ritsumeikan University
affiliation_link: https://en.ritsumei.ac.jp/
email: thuan.aislab@gmail.com
keywords: Bach-Thuan Bui, Thuan B. Bui , Thuan Bach Bui
google_scholar: https://scholar.google.com/citations?user=_uvHRywAAAAJ&hl=en&oi=ao
cv_link: 
github_link: https://github.com/thuanaislab/
linkedin: 
twitter: https://twitter.com/thuanth09269912/
avatar: https://thuanbb.github.io/assets/img/thuan.jpg
google_analytics: UA-111540567-4
favicon: ./assets/img/favicon.svg
favicon_dark: 
description: Bach-Thuan Bui is a Ph.D. candidate at Graduate School of Information Science and Engineering, Ritsumeikan University, Japan. His research lies in Computer Vision, 3D Geometry, and Deep Learning.
data_protection: 

# Site Settings
baseurl: https://thuanbb.github.io/            # Base URL must end WITHOUT a slash, default: ""
permalink:          /:title # Post permalink
timezone:           Asia/Japan # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
mathjax:            true  # enables support for mathjax - set to false to disable

# Site Build
highlighter:        rouge
#markdown:           redcarpet
#redcarpet:
#    extensions:     ["no_intra_emphasis", "fenced_code_blocks", "autolink", "tables", "with_toc_data", "highlight", "footnotes"]
markdown:           kramdown
kramdown:
    input:          GFM
sass:
    style:          :compressed

# Other Params
include:            [ "robots.txt" ]
exclude:            [ "LICENSE", "README.md", "CNAME", "vendor", "Gemfile" ]
#gems: [jekyll-coffeescript, jekyll-watch, jekyll-assets, jekyll-sitemap]

defaults:
  -
    scope:
      path:         ""
    values:
      layout:       "null"
  -
    scope:
      type:         "pages"
    values:
      layout:       "page"
  -
    scope:
      type:         "posts"
    values:
      layout:       "post"
  -
    scope:
      path:         ""
    values:
      excerpt_separator:       ""